
html {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    /* background-color: var(--color-lighter); */
}

body {
    grid-column: 2/3;
    margin-top: 50px;
}


img {
  width: 100%;
  height: auto;
  display: block;
}

span{
  display: inline-block;
}

body {
  overflow-x: hidden;
  /* background-color: rgba(100, 148, 237, 0.349); */
}

:root {
  /* --font-display1: "eckmannpsych-large", sans-serif;
  --font-display2: "lisbeth-display", sans-serif; */

  --font-display: "Calistoga", cursive;
  --font-paragraph: "Poppins", sans-serif;
  /* --font-body: "cresta", sans-serif; */

  --color-dark: #000;
  --color-light: rgb(128, 128, 128);
  --color-lighter: rgb(241, 241, 241);
  --color-blue: #224aff;
  --color-lightblue: #224aff21;
  --color-orange: #ff9f05;
  
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1 {
 font-size: clamp(3.125rem, 2.739rem + 1.7647vw, 4.0625rem); 
}
h2 {
  font-size: clamp(2.5rem, 2.114rem + 1.7647vw, 3.4375rem);
}

h3{
  font-size:1.9rem
}
h4 {
  font-size: 1.5rem;
}

p {
  font-family: var(--font-paragraph);
  line-height: 1.8rem;
  font-size: clamp(1.125rem, 1.0735rem + 0.2353vw, 1.25rem);
  max-width: 60ch;
}

/* ------------Style on navigation------------ */
nav {
  /* position: fixed; */
  /* width: 99vw; */
  margin: 0rem;
  /* background-color: red; */
}
#navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: -2.5rem;
}

#navigation a{
font-size: clamp(1.4375rem, 1.3088rem + 0.5882vw, 1.75rem);
}

#navigation .logo{
  color: var(--color-orange);
}

.hidden {
  opacity: 0%;
  transform: translateX(100%);
  height: 0;
}


#menu_button {
  font-size: 2.8rem;
  color: var(--color-dark);
  text-align: end;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
#menu {
display: flex;  
flex-direction: column;
list-style: none;
transition: transform 0.3s;
line-height: 1rem;
background-color: var(--color-blue);
padding: 2.5rem;
}

div.container {
  font-family: var(--font-display);
  margin: 0;
  padding: 0rem;
  text-align: center;
}

div.container a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
div.highlightTextOut a{
  color: var(--color-lighter)
}


@media (min-width: 800px){
#navigation{
  align-items: center;
}

  #menu_button {
    display: none;
  }
  #menu{
    flex-direction: row;
    height: auto;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  nav li {
    display: inline-block;
    padding-left: 2rem;
  }

  div.highlightTextOut a {
  color: var(--color-lighter);
  }

  div.highlightTextOut a:before {
    position: absolute;
    color: var(--color-orange);
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.4s;
    transform: scale(0.7);
    opacity: 0;
  }

  div.highlightTextOut a:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  div.highlightTextOut a::after {
    color: var(--color-dark);
  }
}

/* ------------Style on section_one------------ */
#section_one {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: var(--color-light); */
  margin-inline: 0.5rem;
  margin-bottom: 4rem;
  margin-top: -7rem;
  padding-top: 2rem;
}

#section_one img {
  margin: 1rem;
  height: 17rem;
  width: auto;
}

@media (min-width: 800px){
  #section_one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5rem;
    padding-top: 0rem;
  }

  #section_one .text{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content:right
  }
  #section_one img {
  height: 20rem;
  grid-column: 3/4;
  grid-row: 2/3;
}


}

/* ------------Style on section_two------------ */
#section_two h2{
  color: var(--color-orange);
}
#section_two {
  padding-block: 2rem;
  text-align: center;
  background-color: var(--color-blue);
  margin-inline: -1rem;
  opacity: 0;
}

div.cards {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
}
div.card {
  width: 325px;
  padding-inline: 0.5rem;
  padding-block: 2rem;
  margin-block: 1rem;
  background-color: var(--color-lighter);
}

/* --Style on buttons-- */
.button {
  width: 11rem;
  height: auto;
  position: relative;
  font-size: clamp(1.1875rem, 1.1103rem + 0.3529vw, 1.375rem);
  font-weight: 300;
  /* font-style: italic; */
  padding: 13px 20px 13px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.button::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--color-orange);
  transform: translate(10%, 23%);
  transition: transform 250ms;
  z-index: -1;
}
.button::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(224, 221, 52, 0.26);
  transform: translate(-10%, -23%);
  transition: transform 250ms;
  z-index: -1;
}

.button:hover:after,
.button:hover:before {
  transform: translate(0, 0);
}

/* ------------Style on section_three------------ */
#section_three {
  display: flex;
  flex-direction: row-reverse;
  min-height: 70vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.5rem;
  opacity: 0;
}
#section_three img {
  rotate: 270deg;
  margin: 1rem;
  height: 18rem;
  width: auto;
}
/* ------------Style on section_footer------------ */
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: var(--color-lighter); */
  border-top: 1px solid var(--color-blue);
  padding-left: 1rem;
}

#footer a {
  color: var(--color-dark);
}
#sociale_medier {
  display: flex;
  justify-content: space-around;
}
#footer .icons img {
  width: 2rem;
  margin: 0.5rem;
}


/* ------------Colors and animation page------------ */
.text_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-lighter);
}

.text_section .links{
  display: flex;
  gap: 4rem;
  margin-block: 3rem;
  font-size: clamp(1.1875rem, 1.1103rem + 0.3529vw, 1.375rem);

}

.text_section .links a{
  color: var(--color-dark);
  font-family: var(--font-display);
}
.documentation_section{
  /* opacity: 0; */
  margin-top: 5rem;
}

.documentation_section h2{
  text-align: center;
}

.documentation_content{
  text-align: center;
}

.mockup{
  /* background-color: var(--color-lighter); */
  padding: 2rem;
  margin: 0.5rem
}

.details{
  /* background-color: var(--color-lighter); */
  padding: 2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details img{
  width: 70%;
}

@media (min-width: 800px){
  .documentation_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text_section{
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
}


.font_pic{
  border: solid 1px var(--color-blue);
}
